In [179]:
# Homework 4 by Zachary Steele
import os
import csv
import pandas as pd
import numpy as np 

#Importing File
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [180]:
# Looking at our Data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [181]:
# Purchasing Analysis
# Lets first find the total number of unique Screen Names or SNs
Screen_names = purchase_data['SN'].tolist()
Unique_SNs = len(set(Screen_names))
print(f'There are {Unique_SNs} Players who have bought virtual items.')


# Lets find the number of Unique Virtual Items
All_Items = purchase_data['Item Name'].tolist()
Unique_Items = len(set(All_Items))
print(f'There are {Unique_Items} Unique Items that have been bought by online players.')


# Lets find the Average Purchase Price of an Online Transaction
Average = purchase_data['Price'].mean()
Average = '%.2f'%(Average)
print(f'The Average Purchase Price for an online Transaction is ${Average} dollars.')


# Lets find the total Number of Purchases
Total_Purchases = len(purchase_data)
print(f'There Have Been {Total_Purchases} Purchases of Online Items.')


# Lets find the total Revenue of all the Online purchase 
Total_Revenue = '%.2f'%purchase_data['Price'].sum()
print(f'The Total Revenue of Online Purchases is ${Total_Revenue}.')

There are 576 Players who have bought virtual items.
There are 179 Unique Items that have been bought by online players.
The Average Purchase Price for an online Transaction is $3.05 dollars.
There Have Been 780 Purchases of Online Items.
The Total Revenue of Online Purchases is $2379.77.

In [182]:
# Gender Demographics

# Removing Duplicate Players to get the Best Representation
Unique_Purchase_Data = purchase_data.drop_duplicates(subset='SN', keep='first')

In [183]:
# Lets find the Count and Percentage of Male Players
Unique_Purchase_Data.groupby(['Gender']).count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                          81   81   81       81         81     81
Male                           484  484  484      484        484    484
Other / Non-Disclosed           11   11   11       11         11     11

In [184]:
# Female Demographics
female_players = len(Unique_Purchase_Data.loc[purchase_data['Gender'] == 'Female', :])
female_percentage = round(female_players/len(Unique_Purchase_Data)*100)
print(f'There are {female_players} which makes up {female_percentage}% of all the players.')


# Male Demographics
male_players = len(Unique_Purchase_Data.loc[purchase_data['Gender'] == 'Male', :])
male_percentage = round(male_players/len(Unique_Purchase_Data)*100)
print(f'There are {male_players} which makes up {male_percentage}% of all the players.')


# Other Demographics
Other_Players = len(Unique_Purchase_Data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed', :])
Other_percentage = round(Other_Players/len(Unique_Purchase_Data)*100)
print(f'There are {Other_Players} which makes up {Other_percentage}% of all the players.')

There are 81 which makes up 14% of all the players.
There are 484 which makes up 84% of all the players.
There are 11 which makes up 2% of all the players.

In [185]:
# Age Demographics

In [186]:
# Lets Create Age Bin Categories by a 4 year range.

age_bins = [0,9,14,19,24,29,34,39,44,49]
age_groups = ['<=9','10-14','15-19','20-24','25-29','30-34','35-39','40-44','>=45']

In [187]:
# Adding a binned column to the main dataframe
purchase_data['Age_Group'] = pd.cut(purchase_data['Age'], age_bins, labels=age_groups)

In [188]:
# Creating a Aged Binned Dataframe without duplicate Screen Names
purchase_data_Age = purchase_data.drop_duplicates(subset='SN', keep='first')

In [189]:
# The number of Purchases by an Age Category
purchase_data.groupby(['Age_Group'])[['SN']].count()

            SN
Age_Group
<=9         23
10-14       28
15-19      136
20-24      365
25-29      101
30-34       73
35-39       41
40-44       12
>=45         1

In [190]:
# The Average Purchase Price by Age Category
purchase_data.groupby(['Age_Group'])[['Price']].mean()

              Price
Age_Group
<=9        3.353478
10-14      2.956429
15-19      3.035956
20-24      3.052219
25-29      2.900990
30-34      2.931507
35-39      3.601707
40-44      3.045000
>=45       1.700000

In [191]:
# The Total Perchase Value by Age Category 
purchase_data.groupby(['Age_Group'])[['Price']].sum()

             Price
Age_Group
<=9          77.13
10-14        82.78
15-19       412.89
20-24      1114.06
25-29       293.00
30-34       214.00
35-39       147.67
40-44        36.54
>=45          1.70

In [192]:
# Average spent per person (per Screen Name)
purchase_data.groupby('SN')[['Price']].mean()

                  Price
SN
Adairialis76   2.280000
Adastirin33    4.480000
Aeda94         4.910000
Aela59         4.320000
Aelaria33      1.790000
...                 ...
Yathecal82     2.073333
Yathedeu43     3.010000
Yoishirrala98  4.580000
Zhisrisu83     3.945000
Zontibe81      2.676667

[576 rows x 1 columns]

In [193]:
# TOP 5 SPENDERS

In [194]:
# Finding  the top 5 Spendes
top_5 = purchase_data.groupby('SN')[['Price']].sum()
top_5 = top_5.sort_values('Price', ascending=False)
top_5 = top_5[0:5]
top_5

             Price
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10

In [195]:
# Create new Dataframe from the original with just the Top 5 Spenders. 

SNs = list(top_5.index)
temp_df = purchase_data.set_index('SN')
Top_5_SNs = temp_df.loc[SNs]
Top_5_SNs = Top_5_SNs[['Price']]
Top_5_SNs = Top_5_SNs.reset_index()

In [196]:
top_5['Average_Purcahse'] = Top_5_SNs.groupby('SN')['Price'].mean()
top_5['Total Purchases'] = Top_5_SNs.groupby('SN')['Price'].count()
top_5 = top_5.rename(columns={'Price':'Total'})

In [197]:
# New Dataframe with Total, Average, and Total Purchase by the top 5 most lucrative players
top_5

             Total  Average_Purcahse  Total Purchases
SN
Lisosia93    18.96          3.792000                5
Idastidru52  15.45          3.862500                4
Chamjask73   13.83          4.610000                3
Iral74       13.62          3.405000                4
Iskadarya95  13.10          4.366667                3

In [198]:
### Most Popular Items

In [199]:
# Here is a list of the top 5 items
Popular_5_items = list(purchase_data.groupby('Item Name').count().sort_values('SN', ascending=False).index[0:5])
Popular_5_items

['Final Critic',
 'Oathbreaker, Last Hope of the Breaking Storm',
 'Persuasion',
 'Nirvana',
 'Extraction, Quickblade Of Trembling Hands']

In [200]:
# Creating DataFrame of just the top five items
Top_itmes_df = purchase_data.set_index('Item Name')
Top_itmes_df = Top_itmes_df.loc[Popular_5_items]
Top_itmes_df = Top_itmes_df.reset_index()

In [201]:
Average_item_price = Top_itmes_df.groupby(['Item Name', 'Item ID']).mean()['Price']

In [202]:
Total_item_income = Top_itmes_df.groupby(['Item Name', 'Item ID']).sum()['Price']

In [203]:
Item_Counts = Top_itmes_df.groupby(['Item Name', 'Item ID']).count()['SN']

In [204]:
best_items_df = pd.DataFrame({'Total_Collected_From_Item':Total_item_income, 'Average_Price':Average_item_price, 'Popularity':Item_Counts})

In [205]:
# Information about the TOP 5 BEST ITEMS!!!!!
best_items_df

                                                      Total_Collected_From_Item  \
Item Name                                    Item ID
Extraction, Quickblade Of Trembling Hands    108                          31.77
Final Critic                                 92                           39.04
                                             101                          20.95
Nirvana                                      82                           44.10
Oathbreaker, Last Hope of the Breaking Storm 178                          50.76
Persuasion                                   132                           6.66
                                             141                          22.33

                                                      Average_Price  \
Item Name                                    Item ID
Extraction, Quickblade Of Trembling Hands    108               3.53
Final Critic                                 92                4.88
                                             101               4.19
Nirvana                                      82                4.90
Oathbreaker, Last Hope of the Breaking Storm 178               4.23
Persuasion                                   132               3.33
                                             141               3.19

                                                      Popularity
Item Name                                    Item ID
Extraction, Quickblade Of Trembling Hands    108               9
Final Critic                                 92                8
                                             101               5
Nirvana                                      82                9
Oathbreaker, Last Hope of the Breaking Storm 178              12
Persuasion                                   132               2
                                             141               7

In [206]:
# MOST VALUABLE ITEM!!!
# Check below

In [207]:
Top_item = purchase_data.groupby('Item Name').sum()[['Price']].sort_values('Price', ascending=False).reset_index().iloc[0,:]

In [208]:
print(f'The Best Item in the Game is {Top_item[0]} which generated ${Top_item[1]} in Revenue!!!!!')

The Best Item in the Game is Final Critic which generated $59.99 in Revenue!!!!!

In [209]:
# Three Oberservable Trends Based on the data. 

# 1) Males are more likely to purchases online items than females.
# 2) Oathbreaker, Last Hope of the Breaking Storm is the most popular item in terms of purchases and it has brought the most amount of revanue.
# 3) The age group of 20-24 year olds are most likely to buy online items.